.candle-container {
    width: 55px;
  }
.candle {
    position: relative;
    width: 15px;
    height: 60px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .wick {
    position: relative;
    top: -10px;
    left: 50%;
    width: 2px;
    height: 10px;
    background-color: black;
    transform: translateX(-50%);
  }
  
  .flame {
    position: relative;
    top: -45px;
    left: 0;
    width: 15px;
    height: 30px;
    background: radial-gradient(circle, #ff9900 30%, rgba(255, 255, 0, 0.8) 70%, transparent);
    border-radius: 50%;
    transform: translateX(-50%);
  }
  